@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (@ViewBag.succesMessage != null)
{
    <!-- Success Alert -->
    <div class="alert alert-success">
        @ViewBag.succesMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (@ViewBag.errorMessage != null)
{
    <!-- Error Alert -->
    <div class="alert alert-danger">
        @ViewBag.errorMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (@ViewBag.warningMessage != null)
{
    <!-- Warning Alert -->
    <div class="alert alert-warning">
        @ViewBag.warningMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (@ViewBag.infoMessage != null)
{
    <!-- Info Alert -->
    <div class="alert alert-info">
        @ViewBag.infoMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}


@{
    var topics = ViewBag.Topics as List<AskAway.Models.Topic>;
}

@foreach (AskAway.Models.Category category in ViewBag.Categories)
{
    <div class="CategoryStyle">
        <p class="CategoryTitle">@category.CategoryName</p>
        <div>
            @{  
                foreach (AskAway.Models.Topic topic in topics.Where(t => t.CategoryId == category.CategoryId).Skip(0).Take(4))
                {
                    <a class="TopicShow btn" href="/Topic/Show/@topic.Id">
                        @topic.Title
                        <i class="right"></i>
                    </a>
                }
            }
        </div>

        <a class="btn btn-success" href="/Category/Show/@category.CategoryId">Afisare categorie</a>
        @if (this.User.IsInRole("Administrator"))
        {
            <a class="btn btn-success" href="/Category/Edit/@category.CategoryId">Editare categorie</a>
        }
        <br />
        <hr />
        <br />

    </div>
}
<br />

@if (this.User.IsInRole("Administrator"))
{
    <a class="btn btn-info" href="/Category/New">Adauga o noua categorie</a>
}

<br />
