@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (@ViewBag.succesMessage != null)
{
    <!-- Success Alert -->
    <div class="alert alert-success">
        @ViewBag.succesMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (@ViewBag.errorMessage != null)
{
    <!-- Error Alert -->
    <div class="alert alert-danger">
        @ViewBag.errorMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (@ViewBag.warningMessage != null)
{
    <!-- Warning Alert -->
    <div class="alert alert-warning">
        @ViewBag.warningMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (@ViewBag.infoMessage != null)
{
    <!-- Info Alert -->
    <div class="alert alert-info">
        @ViewBag.infoMessage
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}



@foreach (AskAway.Models.Category category in ViewBag.Categories)
{
    <p>@category.CategoryName</p>
    <a class="btn btn-success" href="/Category/Show/@category.CategoryId">Afisare categorie</a>
    <a class="btn btn-success" href="/Category/Edit/@category.CategoryId">Editare categorie</a>
    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-info" href="/Category/New">Adauga o noua categorie</a>
<a class="btn btn-primary" href="/Article/Index">Articole</a>

<br />